.btn {

	&:link,
	&:visited {
		text-decoration: none;
		text-transform: uppercase;
		/*? all | left&right top&bottom | top right bottom left */
		padding: 1.5rem 4rem;
		display: inline-block;
		transition: all .2s ease;
		border-radius: 10rem;
		position: relative;
		font-size: $default-font-size;
	}

	&:hover {
		transform: translateY(-.3rem);
		box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);

		&::after {
			opacity: 0;
			transform: scale(1.4, 1.6);
		}
	}

	&:active {
		transform: translateY(-.1rem);
		box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
	}

	&::after {
		content: '';
		display: inline-block;
		width: 100%;
		height: 100%;
		border-radius: 10rem;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		transition: all .2s ease;
	}

	&--white {
		background-color: $color-white;
		color: $color-gray-dark-1;

		&::after {
			background-color: $color-white;
		}
		&:focus {
			outline: none;
			border: 3px solid lighten($color-primary, 10%);
		}
	}

	&--green {
		background-color: $color-primary;
		color: $color-white;

		&::after {
			background-color: $color-primary;
		}

		&:focus {
			outline: none;
			border: 3px solid darken($color-primary, 10%);
		}
	}

	&--animated {
		animation: moveInBottom .5s ease-out .75s;
		animation-fill-mode: backwards;
	}
}

.btn-text {

	&:link,
	&:visited {
		font-size: $default-font-size;
		color: $color-primary;
		display: inline-block;
		text-decoration: none;
		border-bottom: 1px solid $color-primary;
		padding: 3px;
		transition: all .2s ease;
	}

	&:hover {
		background-color: $color-primary;
		color: $color-white;
		box-shadow: 0 1rem 2rem rgba($color-black, .15);
		transform: translateY(-2px);
	}

	&:active {
		box-shadow: 0 1rem 2rem rgba($color-black, .15);
		transform: translateY(0);
	}

	&:focus {
		outline: none;
		border: 3px solid darken($color-primary, 10%);
	}
}