.story {
	width: 75%;
	margin: 0 auto;
	box-shadow: 0 3rem 6rem rgba($color-black, .1);
	border-radius: 3px;
	padding: 6rem;
	padding-left: 9rem;
	font-size: $default-font-size;
	transform: skewX(-15deg);

	&__shape {
		position: relative;
		width: 15rem;
		height: 15rem;
		float: left;
		-webkit-shape-outside: circle(50% at 50% 50%);
		shape-outside: circle(50% at 50% 50%);
		-webkit-clip-path: circle(50% at 50% 50%);
		clip-path: circle(50% at 50% 50%);
		transform: skewX(15deg) translateX(-3rem);
		overflow: hidden;
	}

	&__img {
		height: 100%;
		transform: translateX(-4rem) scale(1.4);
		backface-visibility: hidden;
		transition: all .2s ease-out;
	}

	&__text {
		transform: skewX(15deg);
	}

	&__caption {
		position: absolute;
		top: 50%;
		left: 50%;
		color: $color-white;
		font-size: 1.7rem;
		text-align: center;
		text-transform: uppercase;
		opacity: 0;
		transform: translate(-50%, 20%);
		transition: all .2s ease-out;
		backface-visibility: hidden;
	}

	&:hover &__caption {
		transform: translate(-50%, -50%);
		opacity: 1;
	}

	&:hover &__img {
		transform: translateX(-4rem) scale(1);
		filter: blur(2px) brightness(85%);
	}
}