.navigation {
	font-size: inherit;
	&__checkbox {
		display: none;
	}

	&__button {
		position: fixed;
		top: 6rem;
		right: 6rem;
		z-index: 2000;
		background-color: $color-white;
		width: 7rem;
		height: 7rem;
		border-radius: 50%;
	}

	&__background {
		position: fixed;
		top: 6.5rem;
		right: 6.5rem;
		z-index: 1000;
		width: 6rem;
		height: 6rem;
		border-radius: 50%;
		background-image: radial-gradient($color-primary-light, $color-primary-dark);
		transition: all .2s ease-in-out;
		transform: scale(80);
	}

	&__nav {
		position: fixed;
		top: 0;
		right: 0;
		z-index: 1500;
		height: 100vh;
		width: 100%;
	}

	&__list {
		position: absolute;
		@include centerAbsolute;
		list-style: none;
		text-align: center;
	}

	&__item {
		margin: 1rem;
	}

	&__link {
		&:link,
		&:visited {
			display: inline-block;
			font-size: 3rem;
			font-weight: 300;
			color: $color-white;
			text-decoration: none;
			text-transform: uppercase;
			padding: 1rem 2rem;
			background-image: 
				linear-gradient(
					120deg, 
					transparent 0%,
					transparent 50%,
					$color-white 50%);
			background-size: 220%;
			transition: all .2s ease-in-out;
		}

		span {
			display: inline-block;
			margin-right: 1rem;
		}

		&:hover,
		&:active {
			color: $color-primary;
			background-position: 100%;
			transform: translateX(1rem);
		}
	}
}