.navigation {
	font-size: inherit;

	&__checkbox {
		display: none;
	}

	&__button {
		position: fixed;
		top: 6rem;
		right: 6rem;
		z-index: 2000;
		background-color: $color-white;
		width: 7rem;
		height: 7rem;
		border-radius: 50%;
		box-shadow: 0 1rem 3rem rgba($color-black, .1);
		text-align: center;
		cursor: pointer;
	}

	&__background {
		position: fixed;
		top: 6.5rem;
		right: 6.5rem;
		z-index: 1000;
		width: 6rem;
		height: 6rem;
		border-radius: 50%;
		background-image: radial-gradient($color-primary-light, $color-primary-dark);
		transition: all .8s cubic-bezier(0.83, 0, 0.17, 1);
		// transform: scale(80);
	}

	&__nav {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1500;
		height: 100vh;
		opacity: 0;
		width: 0;
		transition: all .8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
	}

	&__list {
		@include centerAbsolute;
		list-style: none;
		text-align: center;
		width: 100%;
	}

	&__item {
		margin: 1rem;
	}

	&__link {

		&:link,
		&:visited {
			display: inline-block;
			font-size: 3rem;
			font-weight: 300;
			color: $color-white;
			text-decoration: none;
			text-transform: uppercase;
			padding: 1rem 2rem;
			background-image:
				linear-gradient(120deg,
					transparent 0%,
					transparent 50%,
					$color-white 50%);
			background-size: 220%;
			transition: all .2s ease-in-out;
		}

		span {
			display: inline-block;
			margin-right: 1rem;
		}

		&:hover,
		&:active {
			color: $color-primary;
			background-position: 100%;
			transform: translateX(1rem);
		}
	}

	//* Functionality
	&__checkbox:checked~&__background {
		transform: scale(80);
	}

	&__checkbox:checked~&__nav {
		opacity: 1;
		width: 100%;
	}

	&__icon {
		position: relative;
		margin-top: 3.35rem;

		&,
		&::before,
		&::after {
			width: 3rem;
			height: 2.5px;
			background-color: $color-grey-dark-3;
			display: inline-block;
			transition: all .2s ease-in-out;

		}

		&::before,
		&::after {
			content: "";
			position: absolute;
			left: 0;
			backface-visibility: hidden;
		}

		&::before {
			top: -.8rem;
		}

		&::after {
			bottom: -.8rem;
		}
	}

	&__button:hover &__icon::before {
		top: -1rem;
	}

	&__button:hover &__icon::after {
		bottom: -1rem;
	}

	&__checkbox:checked + &__button &__icon {
		background-color: transparent;
	}

	&__checkbox:checked + &__button &__icon::before {
		top: 0;
		transform: rotate(135deg);
	}
	
	&__checkbox:checked + &__button &__icon::after {
		top: 0;
		transform: rotate(-135deg);
	}
}