/*
COLORS:
Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485
*/
:root {
	/*? #7ed56fff */
	--light-green: rgba(126, 213, 111, 1);
	--light-green-medium-opacity: rgba(126, 213, 111, .8);
	/*? #55c57aff */
	--medium-green: rgb(85, 197, 122, 1);
	--medium-green-medium-opacity: rgb(85, 197, 122, .8);
	/*? #28b485ff */
	--dark-green: rgb(40, 180, 133, 1);
	--dark-green-medium-opacity: rgb(40, 180, 133, .8);
	/*? #777 */
	--gray: rgba(119, 119, 119, 1);
}

* {
	margin: 0;
	padding: 0;
	/*? width & height detemine the size of the entire box-model => by default it is only the content area */
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	/*? 1rem=16px */
	font-size: 1rem;
	line-height: 1.7;
	/** 1.7 = 100% => defaultValue: 1 = 100%*/
	color: var(--gray);
	padding: 32px;
}

.header {
	height: 95vh;
	background-image:
		linear-gradient(to right bottom,
			var(--light-green-medium-opacity),
			var(--dark-green-medium-opacity)),
		url('../img/hero.jpg');
	background-size: cover;
	background-position: top;
	clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}