/*
COLORS:
Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485
*/
:root {
	/*? #7ed56fff */
	--light-green: rgba(126, 213, 111, 1);
	--light-green-medium-opacity: rgba(126, 213, 111, .8);
	/*? #55c57aff */
	--medium-green: rgb(85, 197, 122, 1);
	--medium-green-medium-opacity: rgb(85, 197, 122, .8);
	/*? #28b485ff */
	--dark-green: rgb(40, 180, 133, 1);
	--dark-green-medium-opacity: rgb(40, 180, 133, .8);
	/*? #777 */
	--gray: rgba(119, 119, 119, 1);
	--white: rgba(255, 255, 255, 1);
}

* {
	margin: 0;
	padding: 0;
	/*? width & height detemine the size of the entire box-model => by default it is only the content area */
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	/*? 1rem=16px */
	font-size: 1rem;
	line-height: 1.7;
	/** 1.7 = 100% => defaultValue: 1 = 100%*/
	color: var(--gray);
	padding: 2rem;
}

.header {
	position: relative;
	height: 95vh;
	background-image:
		linear-gradient(to right bottom,
			var(--light-green-medium-opacity),
			var(--dark-green-medium-opacity)),
		url('../img/hero.jpg');
	background-size: cover;
	background-position: top;
	clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.logo-box {
	position: absolute;
	top: 40px;
	left: 40px;
}

.logo {
	height: 35px;
}

.logo:hover {
	animation: moveInRight 1s ease-out;
}

.text-box {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.heading-primary {
	color: var(--white);
	text-transform: uppercase;
	backface-visibility: hidden;
	margin-bottom: 60px;
}

.heading-primary-main {
	display: block;
	/*60px*/
	font-size: 3.75rem;
	font-weight: 400;
	letter-spacing: 35px;

	/* animation-name: moveInLeft;
	animation-duration: .5s;
	animation-timing-function: ease-out;
	animation-delay: .5s;
	animation-iteration-count: 3;
	animation: <name> <duration> <timing-function> <delay> <iteration-count> <direction> <fill-mode>; */
	animation: moveInLeft 1s ease-out;
}

.heading-primary-sub {
	display: block;
	font-size: 1.25rem;
	/*20px*/
	letter-spacing: 17.5px;
	font-weight: 700;
	animation: moveInRight 1s ease-out;
}
.btn:link,
.btn:visited {
	text-decoration: none;
	text-transform: uppercase;
	/*? all | left&right top&bottom | top right bottom left */
	padding: 15px 40px;
	display: inline-block;
	transition: all .2s ease;
	border-radius: 50px;
	position: relative;
}

.btn:hover {
	transform: translateY(-4px);
	box-shadow: 0 5px 20px rgba(0, 0, 0, .2);
}

.btn:active {
	transform: translateY(-1px);
	box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.btn::after {
	content: '';
	display: inline-block;
	width: 100%;
	height: 100%;
	border-radius: 50px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	transition: all .2s ease;
}

.btn:hover::after {
	opacity: 0;
	transform: scale(1.4, 1.6);
}

.btn-white {
	background-color: var(--white);
	color: var(--gray);
}

.btn-white::after {
	background-color: var(--white);
}
.btn-animated {
	animation: moveInBottom .5s ease-out .75s;
	animation-fill-mode: backwards;
}
@keyframes moveInLeft {
	0% {
		opacity: 0;
		transform: translateX(-100px);
	}

	80% {
		transform: translateX(10px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes moveInRight {
	0% {
		opacity: 0;
		transform: translateX(100px);
	}

	80% {
		transform: translateX(-10px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes moveInBottom {
	from {
		opacity: 0;
		transform: translateY(30px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

