.btn {

	&:link,
	&:visited {
		text-decoration: none;
		text-transform: uppercase;
		/*? all | left&right top&bottom | top right bottom left */
		padding: 1.5rem 4rem;
		display: inline-block;
		transition: all .2s ease;
		border-radius: 10rem;
		position: relative;
		font-size: 1.6rem;
	}

	&:hover {
		transform: translateY(-.3rem);
		box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);

		&::after {
			opacity: 0;
			transform: scale(1.4, 1.6);
		}
	}

	&:active {
		transform: translateY(-.1rem);
		box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
	}

	&::after {
		content: '';
		display: inline-block;
		width: 100%;
		height: 100%;
		border-radius: 10rem;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		transition: all .2s ease;
	}

	&--white {
		background-color: $color-white;
		color: $color-gray-dark;

		&::after {
			background-color: $color-white;
		}
	}

	&--animated {
		animation: moveInBottom .5s ease-out .75s;
		animation-fill-mode: backwards;
	}
}