*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	/*? width & height detemine the size of the entire box-model => by default it is only the content area */
	box-sizing: inherit;
}

html {
	/* 10px => 10 / 16 => 0.625  */
	font-size: 62.5%;
}

body {
	box-sizing: border-box;
}